<html>
<body>
    <div id="body">
        <ul id="notes"></ul>
    </div>

    @section scripts{
    <script type="text/javascript">$(function () {
            $.getJSON('/api/contact', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#notes').append('<li>' + item.Text + '</li>');
                });
            });
        });</script>
    }
    <form id="saveNoteForm" method="post">
        <h3>Create a new Contact</h3>
        <p>
            <label for="noteId">Id:</label>
            <input type="text" name="Id" />
        </p>
        <p>
            <label for="noteText">Text:</label>
            <input type="text" name="Text" />
        </p>
        <p>
            <checkbox>Is Preformed</checkbox>
        </p>
        <input type="button" id="saveContact" value="Save" />
    </form>
</body>
</html>


